<section class="sps_artistList__container" *ngIf="artistData">

  <article class="sps_artistList__artist" *ngFor="let artist of artistData.artists.items">
    <span>
      <div class="sps_artistList__artist_name" (click)="selectArtist(artist.id)">
        {{artist.name}}
      </div>
      <div>
        <a *ngFor="let genre of artist.genres" class="sps_artistList__artist_genres" href="#{{genre}}">#{{genre}}</a>
      </div>
    </span>
    <span class="sps_artistList__artist_imageContainer" *ngIf="artist.images.length > 0">
      <span class="sps_artistList__artist_image" [ngStyle]="{'background-image': 'url(' + artist.images[artist.images.length - 1].url + ')'}"></span>
    </span>
    <span class="sps_artistList__artist_imageContainer" *ngIf="artist.images.length == 0">
        <span class="sps_artistList__artist_image" [ngStyle]="{'background-image': 'url(../../assets/img/spotifyIcon.png)', 'background-color': getRandomcolor()}"></span>
      </span>
  </article>

</section>
