<section class="sps_artistList__container" *ngIf="artistData">

  <article class="sps_artistList__artist" *ngFor="let artist of artistData.artists.items">
    <a href="{{artist.href}}">
      <span class="sps_artistList__artist_name">{{artist.name}}</span>
    </a>
    <span class="sps_artistList__artist_imageContainer" *ngIf="artist.images.length > 0">
      <span class="sps_artistList__artist_image" [ngStyle]="{'background-image': 'url(' + artist.images[artist.images.length - 1].url + ')'}"></span>
    </span>
    <span class="sps_artistList__artist_imageContainer" *ngIf="artist.images.length == 0">
        <span class="sps_artistList__artist_image" [ngStyle]="{'background-image': 'url(../../assets/img/spotifyIcon.png)', 'background-color': getRandomcolor()}"></span>
      </span>
  </article>

</section>
