.sps_search{
    &__formContainer{
      height: auto;
      font-size: 3rem;
      font-style: italic;
      input.sps_search__formInput {
        text-transform: capitalize;
        background-color: hsla(0, 0%, 0%, 0);
        border: .2rem solid hsla(44, 100%, 42%, 0.18);
        padding: .5rem;
        width: 100%;
        color: hsl(0, 0%, 100%);
        border-radius: .4rem;
        outline: none;
      }
    }
  }
